---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---
<Layout title="Convocatorias">
    <Banner 
    titulo="Convocatorias"
    imagen="/FotosGamp/imagen2.jpg"
    />
    <div class="my-10 h-[70vh] flex justify-center items-center">
        <span>
            Todavia no se publicaron Convocatorias
        </span>
    </div>
</Layout>