---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro"
---
<Layout title="Historia de Colquiri">
    <Banner 
        titulo="Historia de Colquiri"
        imagen="/FotosGamp/imagen2.jpg"
        />
    <div class="w-full my-7">
        <div class="mx-auto w-[90%]">
            <p>
                La historia de comienza en el municipio de Colquiri, fue creado el 3 de noviembre de 1945. Tiene una extensión de 987,93 km2. y su topografía está compuesta por una zona accidentada, con presencia de serranías y quebradas. También de áreas altiplánicas y de cordillera o montaña.
            </p>
            <br>
            <p>
                El clima es frio; su temperatura promedio anual es de 13 °C. Tiene una población aproximada de 19.620 habitantes. Limita al norte con los Municipios de Ichoca e Inquisivi, al sur con el Departamento de Oruro, al este con el departamento de Cochabamba y al oeste con el Municipio de Caracollo del departamento de Oruro
            </p>
            <br>
            <p>
                Sus principales actividades económicas son la agricultura, la ganadería, y una poca actividad minera. El Centro Minero de Colquiri, se encuentra ubicado frente a la población del mismo nombre. Su superficie es de 50 hectáreas aproximadamente, ocupada mayormente por viviendas de los mineros, escuelas, canchas deportivas, tiendas y oficinas administrativas.
            </p>
            <br>
            <p>
                Es considerado como una de las poblaciones más importantes dedicadas a la explotación minera. El yacimiento tiene renombre a nivel nacional por las condiciones geomorfológicas y la abundante cantidad de materias primas como estaño, plata, zinc, wólfram, plomo, antimonio y pirita.
            </p>
            <br>
            <p>
                La mayoría de estas concesiones son nominales dependiendo de la fluctuación de los precios internacionales. Esta situación afecta por igual a los trabajadores tanto privados como estatales. Ellos tienen una larga historia sindical y se ganaron el prestigio por las luchas que enfrentaron para reivindicar sus conquistas sociales durante las últimas décadas.
        
            </p>
        </div>
    </div>
</Layout>
<style>
    
    @media (min-width: 768px) {
    p{
        font-size: 1.5rem 
    }
}
</style>