---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/Presentacion.astro";
---

<Layout title="Municipio de Colquiri">
	<Presentacion />

	<div
		class="flex md:flex-row flex-col justify-around items-center p-10 lg:p-16 my-28 gap-10 shadow-sm"
	>
		<div class="flex flex-col justify-center items-center gap-5">
			<h2 class="border-b-4 border-[10%] border-red-500">
				Municipio de Colquiri
			</h2>
			<p>
				El municipio de Colquiri fue creado el 3 de noviembre de 1945.
				Tiene una extensión de 987,93 km2. y su topografía está
				compuesta por una zona accidentada, con presencia de serranías y
				quebradas. También de áreas altiplánicas y de cordillera o
				montaña.
			</p>
			<p>
				Limita al norte con los Municipios de Ichoca e Inquisivi, al sur
				con el Departamento de Oruro. La temperatura es de ...
			</p>
			<button
				class="mx-auto w-[70%] md:w-[40%] bg-gradient-to-r to-red-600 from-red-500 text-center font-semibold rounded-lg text-white text-2xl md:text-3xl hover:bg-red-200 transition-all"
			>
				<a href="/Historia">Leer más</a>
			</button>
		</div>
		<img
			class="hidden md:block w-[50%]"
			src="/FotosGamp/Colquiri.jpg"
			alt="Foto de Colquiri"
		/>
	</div>

	<div class="flex justify-center items-center gap-5">
		<div class="rounded-full bg-red-700 p-2 w-32 grid place-items-center">
			<a href="https://www.facebook.com/profile.php?id=100077919454435" target="_blank"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="#ffffff"  class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" /></svg></a>
		</div>
		<div class="rounded-full bg-red-700 p-2 w-32 grid place-items-center">
			<a href="mailto:gam_colquiri@hotmail.com"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="#ffffff"  class="icon icon-tabler icons-tabler-filled icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" /><path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" /></svg></a>
		</div>
	</div>

	<div class="Comprometido opacity-30 bg-white relative py-5 my-10 font-semibold">
		<img
			class="absolute opacity-45 md:opacity-100 h-[160px] right-0 lg:h-[300px] w-auto lg:left-10 bottom-0 z-0"
			src="/AlcaldeColquiri.png"
			alt=" Alcalde de  Colquiri 2022 - 2026"
		/>
		<div class="z-10 flex flex-col w-full justify-center items-center gap-6">
			<span class="flex gap-5 justify-center items-center" >Compromiso con el Bienestar <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="#f61313"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg></span>
			<span class="flex gap-5 justify-center items-center">Impulsando el Conocimiento <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="#f61313"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-vocabulary"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 19h-6a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1h6a2 2 0 0 1 2 2a2 2 0 0 1 2 -2h6a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-6a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2z" /><path d="M12 5v16" /><path d="M7 7h1" /><path d="M7 11h1" /><path d="M16 7h1" /><path d="M16 11h1" /><path d="M16 15h1" /></svg></span>
			<span class="flex gap-5 justify-center items-center">Desarrollo Sostenible <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="#f61313"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trending-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg></span>
		</div>
	</div>

	<div
		class="relative py-5 my-10 flex flex-col w-full justify-center items-center"
	>
		<h2 class="text-red-800 font-bold">Datos generales</h2>
		<div class="flex lg:flex-row flex-col gap-7 lg:gap-20 flex-wrap w-full justify-center items-center">
			<div id="hab" class="opacity-30 translate-y-16 flex flex-col justify-center items-center">
				<span class="dates"> 19.620 </span>
				<span class="text-red-700 font-semibold"> Habitantes </span>
			</div>
			<div id="sup" class="opacity-30 translate-y-16 flex flex-col justify-center items-center">
				<span class="dates"> 988 km² </span>
				<span class="text-red-700 font-semibold"> Superficie </span>
			</div>
			<div id="temp" class="opacity-30 translate-y-16 flex flex-col justify-center items-center">
				<span class="dates"> 13 °C </span>
				<span class="text-red-700 font-semibold "> Temperatura </span>
			</div>
		</div>
	</div>
	<div
		class="w-[90%] rounded-3xl mx-auto bg-white p-5 flex justify-center items-center flex-col"
	>
		<h2 class="border-b-4 border-[10%] border-red-500">
			Atractivos Turisticos
		</h2>
		<div class="flex gap-7 flex-col justify-center items-center mt-10">
			<div class="flex gap-6 TurismoCards translate-y-36 opacity-85">
				<span
					class="text-xl text-center flex items-center gap-3 font-semibold"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						fill="none"
						stroke="#ef4444"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-ripple"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M3 7c3 -2 6 -2 9 0s6 2 9 0"
						></path><path d="M3 17c3 -2 6 -2 9 0s6 2 9 0"
						></path><path d="M3 12c3 -2 6 -2 9 0s6 2 9 0"
						></path></svg
					> Las Aguas Termales de Ajamarca</span
				>
				<img
					class="hidden lg:block lg:w-[300px] w-[40%] rounded-full"
					src="/AguasTermales/AguasTermales.jpg"
					alt="Aguas termales de Ajamarca"
				/>
			</div>
			<div class="flex gap-6 TurismoCards translate-y-36 opacity-85">
				<span
					class="text-xl text-center flex items-center font-semibold"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						fill="none"
						stroke="#ef4444"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-shovel"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M17 4l3 3"></path><path
							d="M18.5 5.5l-8 8"></path><path
							d="M8.276 11.284l4.44 4.44a.968 .968 0 0 1 0 1.369l-2.704 2.704a4.108 4.108 0 0 1 -5.809 -5.81l2.704 -2.703a.968 .968 0 0 1 1.37 0z"
						></path></svg
					>Campamento Minero de Colquiri</span
				>
				<img
					class="hidden lg:block lg:w-[300px] w-[40%] rounded-full"
					src="/AguasTermales/CampamentoMinero.jpg"
					alt="Campamento minero coquiri"
				/>
			</div>
			<div class="flex gap-6 TurismoCards translate-y-36 opacity-85">
				<span
					class="text-xl text-center flex items-center gap-3 font-semibold"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						fill="none"
						stroke="#ef4444"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-trekking"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
						></path><path d="M7 21l2 -4"></path><path
							d="M13 21v-4l-3 -3l1 -6l3 4l3 2"></path><path
							d="M10 14l-1.827 -1.218a2 2 0 0 1 -.831 -2.15l.28 -1.117a2 2 0 0 1 1.939 -1.515h1.439l4 1l3 -2"
						></path><path d="M17 12v9"></path><path d="M16 20h2"
						></path></svg
					> Aventura (trekking)</span
				>
				<img
					class="hidden lg:block lg:w-[300px] w-[40%] rounded-full"
					src="/FotosGamp/imagen3.jpg"
					alt="Campamento minero coquiri"
				/>
			</div>
			<div class="flex gap-6 TurismoCards translate-y-36 opacity-85">
				<span
					class="text-xl text-center flex items-center gap-3 font-semibold"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						fill="none"
						stroke="#ef4444"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-firetruck"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path
							d="M5 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
						></path><path
							d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
						></path><path
							d="M7 18h8m4 0h2v-6a5 5 0 0 0 -5 -5h-1l1.5 5h4.5"
						></path><path d="M12 18v-11h3"></path><path
							d="M3 17l0 -5l9 0"></path><path d="M3 9l18 -6"
						></path><path d="M6 12l0 -4"></path></svg
					>Turismo cultural</span
				>
				<img
					class="hidden lg:block lg:w-[300px] w-[40%] rounded-full"
					src="/AguasTermales/TurismoCultural.jpg"
					alt="Campamento minero coquiri"
				/>
			</div>
		</div>
	</div>
	<div class="my-28 w-full grid place-items-center">
		<span class="font-[adelia] text-2xl md:text-5xl m-auto text-center">
			¡Colquiri cambia contigo, el cambio lo hacemos juntos!
		</span>
	</div>
</Layout>
<style>
	h2 {
		font-size: 2rem;
	}
	@media (min-width: 768px) {
		h2 {
			font-size: 3vw;
			font-weight: 600;
		}
		p {
			font-size: 1.4vw;
		}
		span {
			font-size: 2rem;
		}
		
		.dates {
			font-size: 5rem;
			font-weight: 900;
		}
	}
	.TurismoCards {
		transition: 0.7s all;
	}
	.Comprometido{
		transition: 0.7s all;
	}
	.dates {
			font-size: 2rem ;
			font-weight: 900;
	}
	#hab{
		transition: 0.4s all;
	}
	#sup{
		transition: 0.6s all;
	}
	#temp{
		transition: 0.8s all;
	}
</style>
<script>
	const TurismoCards = document.querySelectorAll(".TurismoCards");
	const Comprometido=document.querySelector('.Comprometido')
	const hab = document.getElementById('hab')
	const sup = document.getElementById('sup')
	const temp = document.getElementById('temp')
	const options = {
		root: null,
		rootMargin: "0px",
		threshold: 0.5,
	};
	function Aparecer(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("translate-y-36");
				entry.target.classList.remove("opacity-85");
			}
		});
	}
	function Aparecer2(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("opacity-30");
			}
		});
	}
	function Aparecer3(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("translate-y-16");
				entry.target.classList.remove("opacity-30");
			}
		});
	}
	let observer2=new IntersectionObserver(Aparecer2,options)
	observer2.observe(Comprometido)
	let observer3=new IntersectionObserver(Aparecer3,options)
	observer3.observe(hab)
	observer3.observe(sup)
	observer3.observe(temp)
	let observer = new IntersectionObserver(Aparecer, options);
	TurismoCards.forEach((turismoCard) => {
		observer.observe(turismoCard);
	});
</script>
