---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---
<Layout title="Novedades y Noticias">
    <Banner
    imagen="/FotosGamp/imagen6.jpg"    
    titulo="Novedades y Noticias"
    />
    <div class="contenedor_noticias flex justify-center items-center min-h-[30vh]">
        <p>Por ahora no tenemos noticias</p>
    </div>
</Layout>