---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---
<Layout title="TURISMO EN COLQUIRI">
    <Banner
        titulo="Turismo en Colquiri"
        imagen="/imagen5.jpg"
    />
    <div class="w-full my-7">
        <div class="mx-auto w-[90%]">
            <p>
                Entre los atractivos más relevantes están, las Aguas Termales de Ajamarca, el Campamento Minero de Colquiri y otros. Las actividades turísticas que se realizan son: el turismo cultural, turismo Minero, turismo de aventura (trekking), Turismo de salud, Observación de flora y fauna, entre otras.
            </p>
        </div>
    </div>
   
</Layout>