---
import Layout from "../../layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<{
  title: string;
  body: any[];
  mainImage: {
    asset: {
      url: string;
    };
  };
}>({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});
---

<Layout title=`${post.title}`>
  <div class="w-[90%] m-auto grid place-items-center">
    <h1 class="tituloPrinc">A post about {post.title}</h1>
    <div class="w-full">
      <PortableText portableText={post.body} />
    </div>
  </div>
</Layout>
<style is:global>
  .tituloPrinc {
    font-size: 35px !important;
    font-weight: 700 !important;
  }
  li{
    list-style: disc;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  h2 {
    font-size: 15px;
    font-weight: 400;
  }
  h3 {
    font-size: 10px;
    font-weight: 300;
  }
  @media (min-width: 768px) {
    .tituloPrinc {
      font-size: 25px !important;
      font-weight: 700 !important;
    }
    h1 {
      font-size: 30px;
      font-weight: 500;
    }
    h2 {
      font-size: 30px;
      font-weight: 400;
    }
    h3 {
      font-size: 30px;
      font-weight: 300;
    }
  }
</style>
