---
import Logo from "./Logo.astro"
---
<header class="sticky top-0 lg:min-h-20 bg-white flex justify-center lg:justify-around items-center shadow-lg z-[100]">
    <a class="md:hidden absolute left-3" href="/Login"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg></a>
    <div class="w-[30%] lg:w-[15%] z-50 py-2 ">
        <Logo />
    </div>
    <nav class="hidden lg:block">
        <ul class="flex gap-7 font-semibold text-lg">
            <li class="enlace"><a href="/">INICIO</a></li>
            <li class="relative Acordeon">
                MUNICIPALIDAD
                <div class="AcordeonComponent rounded-3xl -translate-y-[20rem] bg-white p-7 absolute w-auto flex flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/Historia">HISTORIA</a>
                    <a class="enlace" href="/Turismo">TURISMO</a>   
                    <a class="enlace" href="/Convocatorias">CONVOCATORIAS</a>
                </div>
            </li>
            <li class="relative Acordeon flex flex-col">
                SECRETARIAS
                <div class="AcordeonComponent2 rounded-3xl -translate-y-[30rem] bg-white p-7 absolute w-auto flex flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/Secretarias/Organigrama">ORGANIGRAMA</a>
                    <a class="enlace" href="/Secretarias/SecretariaMunicipal">SECRETARIA MUNICIPAL</a>
                    <a class="enlace" href="/Secretarias/SecretariaTecnica">SECRETARIA TECNICA</a>   
                </div>
            </li>
            <li><a class="enlace" href="/Novedades">NOVEDADES Y NOTICIAS</a></li>
            <li class="relative Acordeon flex flex-col">
                GACETA COLQUIRI
                <div class="AcordeonComponent2 rounded-3xl -translate-y-[30rem] bg-white p-7 absolute w-auto flex flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/DecretiMunic">DECRETOS MUNICIPALES</a>
                    <a class="enlace" href="/ResolucinesMunic">RESOLUCIONES MUNICIPALES</a>   
                    <a class="enlace" href="/LeyesMunic">LEYES MUNICIPALES</a>
                </div>
            </li>
            <li class="enlace"><a href="/Contactos">CONTACTOS</a></li>
            <a href="/Login"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg></a>
        </ul>
    </nav>
    <button id="menu" class="lg:hidden absolute right-3">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
    </button>
    <nav id="navMobil" class="-z-20 opacity-0 -translate-y-96 lg:hidden flex justify-center items-center p-4 absolute top-[100%] bg-white rounded-b-lg text-black w-full ">
        <ul class="flex flex-col gap-6 justify-center font-semibold text-xl">
            <li class="enlace"><a href="/">INICIO</a></li>
            <li class="relative Acordeon">
                MUNICIPIO
                <div class="AcordeonComponentMobile hidden rounded-3xl bg-transparent p-7 w-auto  flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/Historia">HISTORIA</a>
                    <a class="enlace" href="/Turismo">TURISMO</a>   
                    <a class="enlace" href="/Convocatorias">CONVOCATORIAS</a>
                </div>
            </li>
            <li class="relative Acordeon">
                SECRETARIA
                <div class="AcordeonComponentMobile rounded-3xl bg-transparent p-7 w-auto flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/Secretarias/Organigrama">ORGANIGRAMA</a>
                    <a class="enlace" href="/Secretarias/SecretariaMunicipal">SECRETARIA MUNICIPAL</a>
                    <a class="enlace" href="/Secretarias/SecretariaTecnica">SECRETARIA TECNICA</a> 
                </div>
            </li>
            <li><a class="enlace" href="/Novedades">NOVEDADES Y NOTICIAS</a></li>
            <li class="relative Acordeon">
                GACETA MUNICIPAL
                <div class="AcordeonComponentMobile rounded-3xl bg-transparent p-7 w-auto flex-col justify-center items-start gap-7">
                    <a class="enlace" href="/DecretiMunic">DECRETOS MUNICIPALES</a>
                    <a class="enlace" href="/ResolucinesMunic">RESOLUCIONES MUNICIPALES</a>   
                    <a class="enlace" href="/LeyesMunic">LEYES MUNICIPALES</a>
                </div>
            </li>
            <li class="enlace"><a href="/Contactos">CONTACTOS</a></li>
        </ul>
    </nav>
</header>
<style>
    .enlace{
        transition: .3s all;
    }
    .enlace:hover{
        color:red;
        transform: scale(1.1)
    }
    #navMobil{
        transition: .5s all;
    }
    .Acordeon{
        cursor: pointer;
        transition: .5s all;
        
    }
    .AcordeonComponentMobile{
        display: none;
    }
    .Acordeon:hover .AcordeonComponent{
        transform: translateY(0);
    }
    .Acordeon:hover .AcordeonComponent2{
        transform: translateY(1.5rem);
    }
    .Acordeon:hover .AcordeonComponentMobile{
        display: flex;
    }
</style>
<script>
    const menu=document.getElementById('menu');
    const NavMobil=document.getElementById('navMobil')
    menu.addEventListener('click', ()=>{
        NavMobil.classList.toggle('-translate-y-96')
        NavMobil.classList.toggle('opacity-0')
    })
</script>