---
const {name, img, svg}=Astro.props
---
<div class="flex gap-6">
    <span class="text-xl text-center flex items-center gap-3 font-semibold"><svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="#ef4444"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-ripple"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7c3 -2 6 -2 9 0s6 2 9 0" /><path d="M3 17c3 -2 6 -2 9 0s6 2 9 0" /><path d="M3 12c3 -2 6 -2 9 0s6 2 9 0" /></svg> Las Aguas Termales de Ajamarca</span>
    <img class="w-[500px] rounded-full"src="/AguasTermales/AguasTermales.jpg" alt="Aguas termales de Ajamarca">
</div>