---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
---

<Layout title="Secretaria Administrativa">
    <Banner
        imagen="/FotosGamp/imagen2.jpg"
        titulo="Secretaria Administrativa"
    />
    <div class="w-[90%] mx-auto my-10">
        <ul class="flex m-auto items-center flex-col gap-10 text-2xl font-semibold">
            <div class="flex flex-col gap-10">
                <ul>
                    <li>DIRECCION ADMINISTRATIVA Y FINANCIERA</li>
                    <div class="ml-10">
                        <ul>
                            <li>UNIDAD DE CONTRABILIDAD</li>
                            <div class="ml-10">
                                <li>RECURSOS HUMANOS Y ARCHIVOS</li>
                                <li>RECAUDACIONES E IMPUESTOS MUNICIPALES</li>
                                <li>UNIDAD PLANIFICACIÓN Y PRESUPUESTO</li>
                            </div>
                        </ul>
                    </div>
                    <div class="ml-10">
                        <ul>
                            <li>
                                RESPONSABLE DE PATRIMONIO Y BIENES MUNICIPALES
                            </li>
                        </ul>
                        <div class="ml-10">
                            <li>ACTIVOS FIJOS Y ALMACENES</li>
                        </div>
                    </div>
                </ul>
                <li>UNIDAD PLANIFICACIÓN Y PRESUPUESTO</li>
                <li>RESPONSABLE DE CONTRATACIONES Y SISTEMAS</li>
                <li>COTIZACIONES Y COMPRAS MENORES</li>
                <ul>
                    <li>UNIDAD DE DESARROLLO HUMANO, CULTURA Y TURISMO</li>
                    <div class="ml-10">
                        <li>ADMINISTRADOR MUNICIPAL DE SALUD</li>
                        <li>PORTERIA Y LIMPIEZA EDIFICIO CENTRAL</li>
                    </div>
                </ul>
            </div>
        </ul>
    </div>
</Layout>
<style>
    ul {
        list-style: circle;
    }
</style>
