---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
---
<Layout title="Secretaria Tecnica">
    <Banner
    imagen="/FotosGamp/imagen2.jpg"
        titulo="Secretaria Tecnica"
    />
    <div class="w-[90%] mx-auto my-10">
        <ul class="flex m-auto items-center flex-col gap-10 text-lg md:text-2xl font-semibold">
            <div class="flex flex-col gap-10">
                <ul>
                    <li>DIRECCIÓN GENERAL DE OBRAS</li>
                    <div class="ml-10">
                        <ul>
                            <li>UNIDAD DE CONTRABILIDAD</li>
                            <div class="ml-10">
                                <li>TÉCNICO ELÉCTRICO</li>
                                <li>SUPERVISOR DE OBRAS I</li>
                                <li>SUPERVISOR DE OBRAS II</li>
                                <li>CHOFER ÁREA TÉCNICA</li>
                                <li>SUPERVISOR DE OBRAS III</li>
                                <li>ADMINISTRACION UMSAPAC</li>
                            </div>
                        </ul>
                    </div>
                </ul>

            </div>
        </ul>
    </div>
</Layout>
<style>
    ul {
        list-style: circle;
    }
</style>
