---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="El municipio de Colquiri, fue creado el 3 de noviembre de 1945. Tiene una extensión de 987,93 km2. y su topografía está compuesta por una zona accidentada, con presencia de serranías y quebradas. También de áreas altiplánicas y de cordillera o montaña." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Escudo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'adelia';
		src: url('/Fonts/adelia.otf');
	}
	*{
		padding: 0;
		margin:0;
		box-sizing: border-box;
		height: ;
		width: ;
	}
	body,html{
		transition: .4s all;
		background-color: #eee;
	}
</style>
